.full-width .markdown-preview-section {
    max-width: 100% !important;
}

.markdown-source-view.mod-cm6 .list-bullet {
    visibility: initial !important;
}

.markdown-source-view.mod-cm6 .list-bullet:after {
    visibility: none !important;
    content: '' !important;
}

/** DASHBOARD CSS STYLES **/
/** https://github.com/TfTHacker/DashboardPlusPlus **/

.dashboard {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

.dashboard .markdown-preview-section {
    max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 26pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
}

.dashboard h2 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}

.dashboard div > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-flow: row wrap;
    width: 60%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.dashboard div > ul > li {
    min-width: 250px;
    flex: 0 0 100px;
}

/** END DASHBOARD CSS STYLES **/
